[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
ipykernel = "*"
onnxruntime-gpu = "*"
keras-image-helper = "*"
scikit-learn = "*"
onnxscript = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
